@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=Montserrat:ital,wght@0,301;1,301&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#login-form{
    display: flex;
    width: 500px;
    height: 600px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    margin: 10vh;
}
#login-form form{
    display: block;
    margin: auto;
}
#login-form input{
    width: 350px;
    height: 40px;
    border: 1.2px solid #000000;
    border-radius: 5px;
    margin: 10px;
}
#login-form input:active{
    outline-color: #2b2b2b;
}

#login-form button{
    width: 350px;
    height: 40px;
    background: #2b2b2b;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
#login-form button:hover{
    background: #000000;
    cursor: pointer;
    box-shadow: 0 5px 5px gray;
}
#login-form h1{
    margin: 0 0 80px 0;
    font-size: 50px;
    font-family: "Inter", sans-serif;
}
h1{
    font-size: 50px;
    font-family: "Inter", sans-serif;
    margin-top: 60px;
}